

S@_fault_list.csv
SEU_fault_list.csv
SEU_fsim_report.csv
S@_fsim_report.csv
report_detailed_SABOTUER.csv
report_detailed_SEU.csv
S@_logs
sbtr
sw
projects


*.gz
/*.gz
//*.gz
///*.gz
////*.gz

/*csv

/*.pkl
//*.pkl

*.vcd
/*.vcd
//*.vcd

*.txt
/*.txt
//*.txt


*_gate_extracted.v
/*_gate_extracted.v
//*_gate_extracted.v
///*_gate_extracted.v

*_sbtr.v
/*_sbtr.v
//*_sbtr.v
///*_sbtr.v

*_stage1.v
/*_stage1.v
//*_stage1.v
///*_stage1.v


new_tb_*
/new_tb_*
//new_tb_*
///new_tb_*


*_stage1.json
/*_stage1.json
//*_stage1.json
///*_stage1.json

*.fau
/*.fau
//*.fau


*.log
/*.log
//*.log

build

obj_dir
/obj_dir
//obj_dir
///obj_dir

__pycache__